<header class="row">
    <nav class="col-12 p-0 navbar navbar-expand-lg navbar-light bg-light border-bottom justify-content-between p-1">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link <%=(page=='home')?'active':''%>" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%=(page=='mysql')?'active':''%>" href="/mysql">MySql</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%=(page=='mongodb')?'active':''%>" href="/mongodb">MongoDb</a>
            </li>
          </ul>
      </nav>
</header>