<div class="container-fluid py-4" style="min-height: 731px;">
	<div class="row d-flex align-items-center justify-content-center">
    	<div class="col-6 py-4 text-center">
			<p class="mb-0 font-weight-bold">Welcome to Node-Express Database Administrator</p>    		
    	</div>
    </div>
</div>