@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: 5px;
}
::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #333;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
}
.navbar-brand, .form-select, .form-control{
    font-size: 12px;
}
pre{
    font-family: 'Poppins', sans-serif !important;
    color: #000;
}
label{
    min-width: 100px;
    text-align: left;
}
.bg-light {
    background-color: #0a2647!important;
}
.border-bottom-dark{
    border-bottom: 1px solid #0a2647 !important;
}
li.nav-item {
    display: flex;
    align-items: center;
    justify-content: left;
}
.nav-link {
    color: white;
}
.nav-link:hover { 
    font-weight: bold;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000 !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs {
    border-bottom-width: 0 !important;
}
.bg-success {
    background-color: #439A97 !important;
}
.bg-dark {
    background-color: #CBEDD5 !important;
}
.font-weight-bold {
    font-weight: 600;
    font-size: 14px;
}
.gap-10{
    gap:10px;
}
.gap-20{
    gap:20px;
}
.gap-30{
    gap:30px;
}
th {
    background-color: lavender !important;
    border: 1px solid darkgrey !important;
}
td {
  position: relative;
  padding: 5px !important;  
  border-bottom: 1px solid #343a40 !important;
  max-height: 300px;
  white-space: break-spaces;
  word-break: break-all;
}
td.mgtd{
    padding: 10px !important;
    overflow: auto;
}
pre.expanded{
  white-space: pre !important; 
}
pre{
  margin-bottom: 0;
  white-space:initial;
  word-wrap: break-word;
  font-size: 12px;
}
table {
  table-layout: fixed;
}
.loadmore{
    border: 1px solid cadetblue;
    display: block;
    text-align: center;
    padding: 2px;
    width: 120px;
    margin: 0 auto;
    border-radius: 35px;
    background-color: cadetblue !important;
    color: white !important;
    font-size: 12px;
    cursor: pointer;
}
.loadmore:hover{
    font-weight:bold;
}

.form-control.w-80{
    width: 80%;
}